<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="beanTemplate"
		init-method="init"
		destroy-method="destroy"
		abstract="true">
		<property name="message1" value="world"/>
	</bean>
	
	<bean id="helloWorld" 
		class="hellospring.HelloWorld"	
		parent="beanTemplate">
		<property name="message2" value="message2" />
	</bean>
	
	<bean id="helloBulgaria" 
		class="hellospring.HelloBulgaria"
		parent="helloWorld">
		<property name="message3" value="message3"/>
	</bean>
	
	<bean class="hellospring.InitHelloWorld" />
</beans>
