<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="textEditor" class="dependencyinjection.setterbased.TextEditor">
		<property name="spellChecker" ref="spellChecker"/>
	</bean>
	
	<bean id="spellChecker" class="dependencyinjection.setterbased.SpellChecker">
	</bean>
	
	<bean id="textEditor2" class="dependencyinjection.setterbased.TextEditor" lazy-init="true">
		<property name="spellChecker">
			<bean id="spellChecker2" class="dependencyinjection.setterbased.SpellChecker"/>
		</property>
	</bean>
</beans>
